/* .link {

} */

main {
    max-width: 1600px;
}


h1 {
     font-size: 2rem;
     margin-bottom: 2rem;

 }

h1, h2 {
    background-color: rgb(173, 216, 230);
    color: rgb(34, 66, 55);
    text-align: center;
    margin-top: 2rem;
    font-weight: bold;

}

h2 {
    font-size: 1.7rem;

}

img {
    display: block;
    margin: 0 auto; 
    max-width: 1600px;
    width: 100%;
    height: auto;
}

.sr-only {
    border: 0 !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    /* 1 */
    -webkit-clip-path: inset(50%) !important;
    clip-path: inset(50%) !important;
    /* 2 */
    height: 1px !important;
    margin: -1px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    white-space: nowrap !important;
    /* 3 */
}

    