<%- include('partials/headeer') %>


<h1 class="ajouter-arbre-title">Ajouter un nouvel arbre</h1>
    <form class="ajouter-arbre-form" action="/add-tree" method="post">
        <label class="ajouter-arbre-label" for="campaignId">Campagne:</label>
        <select class="ajouter-arbre-select" name="campaignId" id="campaignId" required>
            <% campaigns.forEach(campaign => { %>
                <option value="<%= campaign.id %>"><%= campaign.name %></option>
            <% }); %>
        </select>

        <label class="ajouter-arbre-label" for="name">Nom de l'arbre:</label>
        <input class="ajouter-arbre-input" type="text" id="name" name="name" required>

        <label class="ajouter-arbre-label" for="description">Description:</label>
        <textarea class="ajouter-arbre-textarea" id="description" name="description" required></textarea>

        <label class="ajouter-arbre-label" for="image">URL de l'image (facultatif):</label>
        <input class="ajouter-arbre-input" type="text" id="image" name="image">

        <label class="ajouter-arbre-label" for="price">Prix:</label>
        <input class="ajouter-arbre-input" type="number" id="price" name="price" required step="0.01">

        <label class="ajouter-arbre-label" for="latitude">Latitude:</label>
        <input class="ajouter-arbre-input" type="text" id="latitude" name="latitude" required>

        <label class="ajouter-arbre-label" for="longitude">Longitude:</label>
        <input class="ajouter-arbre-input" type="text" id="longitude" name="longitude" required>

        <button class="ajouter-arbre-button" type="submit">Ajouter l'arbre</button>
    </form>
</body>
</html>