<footer class="footer-container">
    <div class="footer-partners">
        <p class="footer-partners-text">Partenaires officiels</p>
        <div class="footer-partners-img">
            <img class="footer-partners-img-item" src="/assets/img/logo-footer-1.png" alt="">
            <img class="footer-partners-img-item" src="/assets/img/logo-footer-2.png" alt="">
            <img class="footer-partners-img-item" src="/assets/img/logo-footer-3.png" alt="">
            <img class="footer-partners-img-item" src="/assets/img/logo-footer-4.png" alt="">
        </div>
    </div>

    <div class="footer-contact">
        <a href="tel:+33123456789">Téléphone: 01 23 45 67 89</a>
        <a href="mailto:contact@greenroots.com">contact@greenroots.com</a>
        <div class="footer-reseau-logo">
            <a class="footer-link" href="/Facebook" target="_blank">
                <img class="contact-logo" src="/assets/img/facebook.png" alt="logo-facebook">
            </a>
            <a class="footer-link" href="/Instagram" target="_blank">
                <img class="contact-logo" src="/assets/img/instagram.png" alt="logo-instagram">
            </a>
            <a class="footer-link" href="/Youtube" target="_blank">
                <img class="contact-logo" src="/assets/img/youtube.png" alt="logo-youtube">
            </a>
        </div>
    </div>

    <div>
        <span class="footer-copyright">&copy; Green Roots 2024</span>
        <a class="footer-mentions" href="/mentions-legales">Mentions légales</a>
    </div>
</footer>
<script>
    document.addEventListener('DOMContentLoaded', () => {
      const burger = document.querySelector('.menu-burger');
      const nav = document.querySelector('.nav');
  
      burger.addEventListener('click', () => {
        nav.classList.toggle('active');
      });
    });
  </script>
</body>
</html>